<div class="row d-flex justify-content-center text-center">
    <div class="col-4">
        <h2>All Servers:</h2>

        <!-- <label>want to add a server? just write a name here</label>
        <input type="text" 
        class="form-control"
        (input)="onUpdateServerName($event)"
        >
         -->
         <label>want to add a server? just write a name here</label>
         <div class="col-xs-12">
            <input type="text" 
            class="form-control"
            [(ngModel)]="serverName"
            (input)="onUpdateServerName($event)">
        </div>
        <br><br> 
        <br><br>
        <button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
        Press Here To Add the Server: {{serverName}}</button>
        <br><br><br>
        <p>{{serverCreationStatus}}</p>
        
        <app-server></app-server>
        <app-server></app-server>
        <app-server></app-server>
        <app-server></app-server>

        <br><br> 

        <button class="btn btn-Danger"
        [disabled]="!allowNewServer"
        (click)="onResetServerName()">
        Press Here To reset the Server Name</button>
    </div>
</div>