
    <button mat-raised-button disabled>Dashboard</button>

    <mat-form-field class="example-form-field" appearance="fill">

    <input matInput type="text" [(ngModel)]="value" placeholder="Search">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon></mat-icon>
    </button>
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>

  </mat-form-field>
  <button mat-stroked-button color="accent">Filter</button>