mat-form-field {
    padding-left: 2vw;
}
input{
    color: #333;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    height: 35px;
    display: block;
    border-bottom: 0.1rem solid;
    transition: all 0.3s;
}