<div class="header">
<mat-toolbar>
    <mat-toolbar-row>
        <br>
<img width="100" height="50"  src="/assets/imgs/RSIcon.png">
<div class="deconstructed unselectable">
    AL-KHAWARIZMI
    <div>AL-KHAWARIZMI</div>
    <div>AL-KHAWARIZMI</div>
    <div>AL-KHAWARIZMI</div>
    <div>AL-KHAWARIZMI</div>
  </div>



<div class="right">
<div class="example-button-container">
        <button mat-fab color="accent" class="badge" aria-label="Example icon button with a home icon"  matBadgeSize="medium" matBadgeOverlap="true" matBadgeColor="accent" matBadge="8" matBadgePosition="before" >
          AJ
        </button>
      </div>
<!-- ----------------------------- -->
   
</div>
<div class="dropDown">
    <ejs-dropdownlist [dataSource]="users" [fields]="dataFields"></ejs-dropdownlist>
</div>
<button class="arabicBtn"style=" background-color: Transparent;   border: none; cursor: pointer;"><h2>&emsp;|&emsp;العربية </h2></button>

</mat-toolbar-row>

    <mat-toolbar-row style="height:30px ;" [hidden]="true">

    </mat-toolbar-row>
</mat-toolbar>
</div>